@model UserManagement.Frontend.Models.UserListViewModel

@{
    ViewBag.Title = "User List";
    Layout = "_Layout";
}

<h2>User List</h2>

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Surname</th>
            <th scope="col">Email</th>
            <th scope="col">Contact Number</th>
            <th scope="col">Delete User</th>
            <th scope="col">Edit User</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model.Users)
        {
            <tr>
                <th scope="row">@user.Name</th>
                <td>@user.Surname</td>
                <td>@user.Email</td>
                <td>@user.ContactNumber</td>
                <td>@Html.ActionLink("Delete", "DeleteUser", new { id = user.Id })</td>
                <td>@Html.ActionLink("Edit", "UpdateUser", new { id = user.Id })</td>
            </tr>
        }
    </tbody>
</table> 